[core]
  editor = nvim 
  excludesfile = ~/.gitignore_global
[github]
  user = sethen
[push]
  default = simple
[pull]
  rebase = true
[init]
  defaultBranch = main
[user]
  name = Sethen Maleno
  email = sethen@github.com
