#!/bin/zsh

# Git
alias g="git"
alias ga="g add"
alias gaa="ga --all"
alias gb="g branch"
alias gc="g commit"
alias gca="g commit -a"
alias gcam="gca -m"
alias gcl="g clone"
alias gcm="gc -m"
alias gcmend="g commit --amend"
alias gch="g checkout"
alias gd="g diff"
alias gds="g diff --staged"
alias gdb="g branch -d"
alias gf="g fetch"
alias gfa="gf --all"
alias gl="g log"
alias gm="g merge"
alias gnb="gch -b"
alias gps="g push"
alias gpso="gps origin"
alias gpsom="gpso master"
alias gpsomf="gpsom --force"
alias gpl="g pull"
alias gplo="g pull origin"
alias gplom="gplo master"
alias gs="g stash"
alias gsa="gs apply"
alias gsd="g stash drop"
alias gsc="g stash clear"
alias gst="g status"
alias gsts="gst --short"
alias gr="g remote"
alias grb="g rebase"
alias grbi="grb -i"
alias gra="gr add"
alias grs="gr show"
alias grso="grs origin"
