default_mode "locked"

plugins {
    zjstatus location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm"
    room location="https://github.com/rvcas/room/releases/latest/download/room.wasm"
}

load_plugins {
    zjstatus
    room
}

keybinds {
    shared_except "locked" {
        bind "Ctrl y" {
            LaunchOrFocusPlugin "room" {
                floating true
                ignore_case true
                quick_jump true
            }
        }
    }
}

theme "catppuccin-mocha"
